[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GIGrvg"]
	path = GIGrvg
	url = https://github.com/cran/GIGrvg
[submodule "rstream"]
	path = rstream
	url = https://github.com/cran/rstream
[submodule "Runuran"]
	path = Runuran
	url = https://github.com/cran/Runuran
[submodule "Tinflex"]
	path = Tinflex
	url = https://github.com/cran/Tinflex
